<!-- templates/navbar.html -->
<div class="navbar">
  <div class="logo">AskNekobot</div>
  <div class="menu">
    <a href="/dashboard" class="menu-item" id="dashboard">
      <i class="fas fa-tachometer-alt"></i>
      <span>Dashboard</span>
    </a>
    <div class="separator">User Side</div>
    <a href="/tanya-nekobot" class="menu-item" id="tanya-nekobot">
      <i class="fas fa-comments"></i>
      <span>Tanya Nekobot</span>
    </a>
    <a href="/" class="menu-item" id="model-pembanding">
      <i class="fas fa-exchange-alt"></i>
      <span>Model Pembanding</span>
    </a>
    <div class="separator">Admin Side</div>
    <a href="/info-management" class="menu-item" id="info-management">
      <i class="fas fa-info-circle"></i>
      <span>Info Management</span>
    </a>
    <a href="/model-configuration" class="menu-item" id="model-configuration">
      <i class="fas fa-sliders-h"></i>
      <span>Model Configuration</span>
    </a>
    <a href="/fine-tuning" class="menu-item" id="fine-tuning">
      <i class="fas fa-cogs"></i>
      <span>Fine-Tuning</span>
    </a>
    <a href="/vector-stores" class="menu-item" id="vector-stores">
      <i class="fas fa-database"></i>
      <span>Vector Stores</span>
    </a>
    <!-- <a href="/create-assistant" class="menu-item" id="vector-stores">
      <i class="fas fa-database"></i>
      <span>Vector Stores</span>
    </a> -->
    <div class="separator">lainnya</div>
    <a href="/create-assistant" class="menu-item" id="vector-stores">
      <i class="fas fa-user"></i>
      <span>Akun</span>
    </a>
  </div>
</div>
